<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Software Developer Intern at
      <a class="underline-link" href="https://www.hearfulhub.com/" target="_blank">Hearful</a> building spiders to create awesome data insights. I am on gap semester for the fall, but will return to 
      <a class="underline-link" href="https://duke.edu/" target="_blank">Duke University</a> in Spring 2019.
    </p>

    <p>
      Influenced by my experience as a full-time intern in the summer and fall of 2018, my current goal is to have a deeper understanding of the data science life cycle. My internships have afforded me practical training in data mining and data cleaning. I plan to continue this trend by focusing my energy on advancing the field of machine intelligence through research and coursework in <a class="underline-link" href="https://math.duke.edu/">Applied Mathematics</a> and <a class="underline-link" href="https://www.cs.duke.edu/">Computer Science</a>.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably reading, at a <a class="underline-link" href="https://www.meetup.com/members/259900448/">Meetup</a>,
      or exploring Durham's food scene.
    </p>

    {% include employment-status.html %}
  </div>
</section>
